<%_ if (typeof mailgunKey !== 'undefined' && mailgunKey) { _%>
MAILGUN_KEY=<%= mailgunKey %>
<%_ } _%>
MASTER_KEY=<%= masterKey %>
<%_ if (typeof domainName !== 'undefined' && domainName) { _%>
DOMAIN_NAME=<%= domainName %>
<%_ } _%>
<%_ if (typeof defaultEmail !== 'undefined' && defaultEmail) { _%>
DEFAULT_EMAIL=<%= defaultEmail %>
<%_ } _%>
<%_ if (typeof jwtSecret !== 'undefined' && jwtSecret) { _%>
JWT_SECRET=<%= jwtSecret %>
<%_ } _%>
